version: '3'

services:
  mysql-dev:
    image: mysql:5
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: mgse_user
      MYSQL_PASSWORD: ageofempires3
      MYSQL_DATABASE: mgse_user_db
    ports:
      - "3308:3306"
    volumes:
      - "./my.cnf:/etc/mysql/conf.d/config-file.cnf"
      - "./data:/var/lib/mysql:rw"

  client:
    image: mysql:5
    depends_on:
      - mysql-dev
    links:
      - mysql-dev
    command: mysql -umgse_user -pageofempires3 -hmysql-dev mgse_user_db

  admin:
    image: adminer
    depends_on:
      - mysql-dev
    links:
      - mysql-dev
    ports:
      - 8081:8080

  restapi:
    restart: always
    build: ../application/restapi
    depends_on:
      - mysql-dev
    links:
      - mysql-dev
    ports:
      - 8082:8080

  frontend:
    build: ../application/frontend
    restart: always
    environment:
    depends_on:
      - restapi
    links:
      - mysql-dev
    ports:
      - '8080:80'
